.home-section {
  overflow: hidden;
}
.hero-section {
  width: 100vw;
  height: calc(100vh - var(--lengthLg3));
}

.home-page_typography {
  color: var(--colorBlack);
  position: relative;
  padding: var(--lengthLg3) 0 calc(var(--lengthLg3) * 2) 0;
  margin: 0 auto;
  width: 80%;
  height: calc(100vh - var(--lengthLg3));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 300;
}

.main-text {
  font-family: var(--headerFont);
  font-size: var(--lengthLg2);
  max-width: 400px;
}

.secondary-text {
  font-family: var(--baseFont);
  font-size: calc(var(--lengthLg2) / 2);
  max-width: 400px;
}

@media (max-width: 300px) {
  .main-text {
    font-size: var(--lengthLg1);
  }
}

@media (min-width: 768px) {
  .main-text {
    font-size: var(--lengthLg3);
  }

  .main-text {
    max-width: 600px;
  }
}
