.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-content_wrapper {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}

.product-content_container {
  width: 90%;
  font-family: Roboto;
  max-width: 640px;
  margin: 0 auto;
}
.product-content_name {
  font-family: Texturina;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.price-tag {
  font-size: 1.5rem;
}

.image-gallery {
  position: relative;
  width: 100%;
  max-width: 640px;
}

.quantity-input span {
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .image-gallery {
    position: sticky;
    top: calc(var(--lengthLg3) + 1rem);
  }

  .product-section {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }

  .product-content_wrapper {
    padding-top: 2rem;
  }

  .product-content_name {
    font-size: 3rem;
  }

  .price-tag {
    font-size: 3rem;
  }
}
