.navigation {
  position: absolute;
  top: var(--lengthLg3);
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorWhite);
  width: 100vw;
  height: calc(100vh - var(--lengthLg3));
  transform: translateX(-100%);
}

.navigation.open {
  transform: translateX(0);
}

.navigation ul {
  list-style: none;
  height: 80%;
  text-align: center;
}

.navigation li {
  margin: 2rem 0;
}
