.header-container {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #f1f1f1;
  box-shadow: 0px 10px 20px 0px #e1e1e1;
  z-index: 100;
}

.header-title {
  margin: 0;
  padding: 0;
  font-family: Damion, serif;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 400;
}

.header-title > a {
  color: black;
}

.button-reset {
  position: relative;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: unset;
  border: none;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon > img {
  margin: 0;
}

.cart-icon {
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-counter {
  background-color: black;
  color: #f6f6f6;
  width: 1rem;
  height: 1rem;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  top: 50%;
}
