.cart-item {
  font-family: Roboto;
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid #aaaaaa;
}

.cart-item__row {
  height: var(--lengthLg3);
}

.cart-item__image {
  width: 20%;
  max-width: 100px;
  overflow: hidden;
  align-self: center;
}

.cart-item__image img {
  border-radius: 4px;
}

.cart-item .hamburger-button {
  opacity: 0.8;
}

.cart-item .smRoundBtn {
  width: var(--lengthMd2);
  height: var(--lengthMd2);
  font-size: var(--lengthSm3);
}

.variant-color {
  width: 1rem;
  height: 1rem;
  margin-left: 4px;
  border-radius: 4px;
}

.secondary-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
}

.cart-item input {
  background: none;
  border: 1px solid var(--main-font-opacity4);
  border-radius: 6px;
  padding: 0 0.5rem;
  text-align: right;
}
.empty-cart {
  padding: 1rem;
}

.empty-cart a {
  color: #3059e9;
  text-decoration: underline;
}
