.form-input {
  width: 100%;
  position: relative;
  border: 1px solid var(--colorGray);
  border-radius: 0.5rem;
  margin-top: 1rem;
  max-width: 400px;
}

.form-input label {
  position: absolute;
  top: 0.5rem;
  font-size: 0.875rem;
  color: var(--colorGray);
  background: none;
  padding: 0 0.5rem;
}

.form-input:active label {
  color: var(--colorOutline);
}

.form-input input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  padding-top: 2rem;
  background: none;
  border: none;
}

.checkbox-field {
  margin-top: 1rem;
}

.checkbox-field label {
  margin-left: 0.5rem;
}

.error-text {
  color: red;
  width: 100%;
  max-width: 400px;
}

.to-left-label {
  width: 100%;
  max-width: 400px;
}
