h1,
.classh1 {
  color: inherit;
}
h2,
.classh2 {
  color: inherit;
}
h3,
.classh3 {
  color: inherit;
}
h4,
.classh4 {
  color: inherit;
}
h5,
.classh5 {
  color: inherit;
}
h6,
.classh6 {
  color: inherit;
}

p,
.classp {
  color: inherit;
}
